.clearfix {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: lightgray;
  border: 1px solid gray;
  border-radius: 5px;
  max-height: 5rem;
}

.pull-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.pull-left {
  padding-left: 5px;
  margin-bottom: 1px;
  
}

