<div class="row">
  <div class="col-xs">
    <form class="form">
      <div class="form__row">
        <div class="form__col form__group">
          <label for="name">Name</label>
          <input type="text" id="name" class="form__control form__control-text"
          #nameInput>
        </div>
        <div class="form__col-sm form__group">
          <label for="amount">Amount</label>
          <input type="number" id="amount" class="form__control form__control-number"
          #amountInput>
        </div>
      </div>
      <div class="row-two">
        <div class="col-two-xs">
          <button class="btn btn-success" type="submit"
          (click)="onAddItem()">
            Add
          </button>
          <button class="btn btn-danger" type="button">
            Delete
          </button>
          <button class="btn btn-primary" type="button">
            Clear
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
